@media screen and (max-width: 320px) {
  .caption h1{
    font-size: 30px;
  }
  .caption span{
    font-size: 24px;
  }
  .caption{
      bottom: 5%;
  }
  .caption2,.caption3{
    margin-bottom: 0% ;
  }
  .caption3 h3{
    font-size: 20px;;
  }
}
/* xs < 768 */
@media screen and (max-width: 768px) {
  .caption h1{
    font-size: 40px;
  }
  .caption span{
    font-size: 24px;
  }
  .caption{
      bottom: 5%;
  }
  .caption2,.caption3{
    margin-bottom: 0% ;
  }
  .caption3 h3{
    font-size: 20px;;
  }
}

/* sm */
@media screen and (min-width: 768px) {
  .caption h1{
    font-size: 50px;
  }
  .caption span{
    font-size: 34px;
  }
  .caption{
      bottom: 0%;
  }
  .caption2,.caption3{
    margin-bottom: 0% ;
  }
  .caption3 h3{
    font-size: 30px;;
  }

}

/* md */
@media screen and (min-width: 992px) {
  .caption h1{
    font-size: 100px;
  }
  .caption span{
    font-size: 44px;
  }
  .caption{
      bottom: 5%;
  }

  *{
    font-size: inherit;
  }
}

/* lg */
@media screen and (min-width: 1200px) {
    .caption h1{
      font-size: 100px;
    }
    .caption{
        bottom: 27%;
    }
    .caption span{
      font-size: 44px;
    }
    .caption2,.caption3{
      margin-bottom: 5%;
    }
}

body{
  max-width: 100%;
  font-family: Century Gothic;
  overflow-x: hidden;
}
.container-fluid{
  padding-right: 0px !important;
  padding-left: 0px  !important;
}

.caption{
  width: 100%;
  position: absolute;
  text-align: center;
  font-family: Century Schoolbook;
}

#img-top{
  width: 100%;
  position:absolute;
}
#header-left{
  float: left;
  width: 80%;
}
#header-left span{
  font-weight: bold;
}
#header-nav{
  padding-top: 22px;
}
#header-left>h3{
  position: absolute;
  margin-left: 5%;
}
li.active>a{
  color: #F6EB14 !important;
  background-color: #C34A27 !important;
}
nav{
  width: 100%;
}
h1{
  color: #C34A27 !important;
}
nav li{
  width: 20%;
  text-align: center;
}
.nav-pills>li>a {
    border-radius: 20px;
}
#home-bg,.title-bg{
  margin:auto;
  position: relative;
}

#home-bg{
  width: 100%;
}
.title-bg{
  width: 100%;
}


.content{
  max-width: 100%;
  max-height: 900px;
}

.content-text{
  font-family: Century Schoolbook;
  text-align: center;
}

h2,h3{
  color: #1A1A1A;
}
h3{
  font-family: Century Gothic;
}
hr{
  border-top: 1px solid #fff;
}

.navbar-default {
  background-color: #fff;
  border-color: #C34A27;
  border-bottom: #fff;
  border-right: #fff;
  border-radius: 0px;
  border-left: inherit;
}


.btn-primary {
  color: #F6EB14 !important;
  background-color: #C34A27 !important;
  border-color: #C34A27 !important;
  border-radius: 20px;
  font-family: Century Gothic;
}

#home .content-text > div{
  padding-bottom: 5%;
}

mark{
  background-color: inherit;
  color: #C34A27;
}

a {
  color: #C34A27;
}



.work-container {
  position: relative;
  border: 2px solid #C34A27;
  border-radius: 20px;
  padding: 5%;
  margin: 5%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #C34A27;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  opacity: .8;
  border-radius: 18px;
}

.work-container:hover .overlay {
  height: 100%;
}

.text {
  white-space: nowrap;
  color: #F6EB14;
  font-size: 30px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
